<table mat-table [dataSource]="users$" class="mat-elevation-z8">
  <ng-container matColumnDef="profilePicture">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <img [src]="element.profilePicture" class="profile-picture" />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef> Birth Date</th>
    <td mat-cell *matCellDef="let element">{{element.birthDate | date}}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let element">{{element.country}}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element">{{element.address}}</td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef> Is Active </th>
    <td mat-cell *matCellDef="let element">{{element.isActive}}</td>
  </ng-container>

  <ng-container matColumnDef="salary">
    <th mat-header-cell *matHeaderCellDef> Salary </th>
    <td mat-cell *matCellDef="let element">{{element.salary | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button [disabled]="!element.isActive" (click)="openProfilePage(element)">
        View
      </button>
      <button mat-raised-button [disabled]="!element.isActive" (click)="openFormDialog(element)">
        Edit
      </button>
      <button mat-raised-button [disabled]="!element.isActive" (click)="deleteUser(element)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button class="add-user" mat-raised-button (click)="openFormDialog()">Add New User</button>
