.form {
    width: 560px;
}
.rows {
    display: flex;
    justify-content: space-between;
}
.field {
    width: 250px;
}

@media only screen and (max-width: 750px) {
    .form {
        width: 250px;
    }
    .rows {
        flex-direction: column;
    }
  }